<h1>Analytics</h1>

<div data-controller="analytics" data-analytics-access-token="<%= @report_embed_config[:token] %>" data-analytics-embed-url="<%= @report_embed_config[:reports_detail][:embed_url] %>" >
  <section data-analytics-target="container">
  </section>
</div>