<header>
  <h1 class="h1">Analytics</h1>
</header>

<main>
  <div data-controller="analytics">
    <section data-analytics-target="container" class="powerbi-report-container">
    </section>
  </div>
</main>